$cor-banner: #1e8bc3;
$cor-menu:#bdc3c7;
$cor-rodape: #2c3e50;
$cor-borda-campos: #dddddd;
$cor-campos: #f6f6f6;
$cor-texto-campos: #555;
$cor-botoes: #336e7b;
$cor-texto-botoes: white;
$cor-cabecalho-tabela: #336e7b;
$cor-texto-cabecalho-tabela: white;
$cor-linhas-pares-tabela: #e4f1fe;
$cor-texto-corpo-tabela: black;